// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  height: 160px;
  display: flex;
  background-color: tomato;
  color: white;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 160px;
  }
  button {
    height: 160px;
    width: 160px;
    background-color: #73CF59;
    color: white;
    font-size: 2rem;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: #4F973B;
    }
    &:focus {
      outline:0;
    }
  }
}
