// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  height: 160px;
  display: flex;
  background-color: tomato;
  color: white;

  img {
    max-width: 160px;
  }
} h1, h2 {
  flex: 1 1 50%;
}
