nav {
  background-color: #333;
    .wrapper {
    display: flex;
    align-items: center;
    padding: 30px 5px;
    height: 160px;
    img {
      width: 14em;
    }
    ul {
      display: flex;
      list-style: none;
      justify-content: space-around;
      li {
        color: white;
        margin: 0 5px;
        &:hover {
          cursor: pointer;
          color:tomato;
        }
        @media screen and (max-width: 730px) {
          display: none;

        }
      }
    }
  }
}

  .gallery-nav {
    ul li:first-child {
      color: darken(tomato, 20%);
    }
  }
